.not-logged-in {
  display: flex;
  width: 100%;
  height: 80vh;
}
.not-logged-in-container {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100vw;
  margin: auto 0;
}

.text {
  flex: 1;
}

.image {
  flex: 4;
}
